Temp/
ProjectSettings/
Library/*
Library/metadata/*
Library/assetDatabase3
Library/expandedItems
Library/CurrentLayout.dwlt
Library/LastSceneManagerSetup.txt
Library/CurrentMaximizeLayout.dwlt
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/ScriptAssemblies/BuiltinAssemblies.stamp
Library/InspectorExpandedItems.asset
Assembly-CSharp.csproj
Assembly-UnityScript-Editor.unityproj
obj/
*.meta
**/*.meta
**/**/*.meta
**/**/**/*.meta
**/**/**/**/*.meta
**/**/**/**/**/*.meta
!Assets/*.meta
!Assets/**/*.meta
!Assets/**/**/*.meta
!Assets/**/**/**/**/*.meta
TheWolf.userprefs